.card-container
{
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    background-color: #F5F7F9;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 4.8rem 1.6rem;
}

.card-basic
{
    position: relative;
    width: 24rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-top: 2rem;
    background-color: white;
    box-shadow: 0 0 1px rgb(48 48 48 / 54%);
}

.card-basic:hover ,.card-basic-horizontal:hover
{
    box-shadow: 0 0 25px 6px var(--offline-grey-color);
    transition: .5s ease-in-out;
    cursor: pointer;
}


.card-basic:not(:hover),.card-basic-horizontal:not(:hover)
{
    transition: .5s ease-in-out;
}



.card-basic img
{
    width: 100%;
    height: 20rem;
    margin: 0 auto;
    object-fit: scale-down;
}

.card-item-details
{
    width: 100%;
    padding: 0 2.6rem;
}

.card-basic div h5
{
    margin: 1.8rem 0;
}

.card-basic .item-title
{
    margin-top: 2rem;
    height: 3.68rem;
}

.item-title h4
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-author
{
    font-style: italic;
}

.card-basic div p 
{
    margin: 0;
    display: inline;
}

.discount-on-card
{
    font-size: 10px;
    color: var(--notification-or-error)
}

.card-button
{
    display: flex;
    justify-content: space-between;
}

.card-icon-btn
{
    min-width: 2rem;
    min-height: 2rem;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
}

.card-icon-btn:hover
{
    background-color: var(--background-color)
}

.outline-card-secondary-btn
{
    min-width: 1rem;
    min-height: 2rem;
    padding: 10px;
    border: 1px solid var(--dark-blue-color);
    border-radius: 4px;
    font-family: Comfortaa;
    color: var(--dark-blue-color);
    background-color: white;
}

.outline-card-secondary-btn
{
    background-position: center;
    transition: background 0.3s;
}

.outline-card-secondary-btn:hover
{
    color: var(--background-color);
    border-color: var(--pink-color);
    background: var(--pink-color)
                radial-gradient(circle, transparent 1%, 
                rgb(243, 243, 243) 1%) center/15000%;
}

.outline-card-secondary-btn:active 
{
    color: var(--pink-color);
    background-color: rgb(243, 243, 243);
    background-size: 100%;
    transition: background 0s;
}

.add-to-wishlist-btn
{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    margin: 0.8rem 1.1rem 0 0;
}

.badge-on-card
{
    position: absolute;
    top:0;
    left: 0;
    width: fit-content;
    min-height: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-color: var(--notification-or-error);
    color: var(--background-color)
}

.card-text-overlay-container
{
    position: absolute;
    top:0;
    left:0;
    width: 100%; /* Full width */
    height: 22rem; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



.card-text-overlay-container div
{
    font-size: 2.4rem;
}

.text-only-card
{
    padding-top: 0;
    padding-bottom: 1rem;
    height: fit-content;
}

.card-basic-horizontal
{
    position: relative;
    height: 32rem;
    width: 50rem;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    padding: 2rem;
    overflow: hidden;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 0 1px rgb(48 48 48 / 54%);
}

.card-basic-horizontal img
{
    height: 90%;
}

.card-basic-horizontal .card-item-details
{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 6px;
    height: max-content;
    padding: 0 0 0 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.card-basic-horizontal div h4,h5,h6
{
    margin: 0.6rem;
}

.card-basic-horizontal div p 
{
    margin: 0;
    display: inline;
}

.cart-item-quantity-input
{
    outline: none;
    width: 5rem;
    margin: 0 1rem;
    text-align: center;
}

.cart-horizontal-card-btns
{
    flex-direction: column;
    gap:1rem;
    margin-top: 1rem;
}

.cart-horizontal-card-btns button
{
    margin: 0;
}

.item-cart-quantity
{
    display: flex;
}

.cart-quantity-change-btn
{
    border-radius: 50%;
    border: 1px solid var(--offline-grey-color);
}

.cart-quantity-change-btn span
{
    vertical-align: middle;
}

.card-dismiss-btn
{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    margin: 0.8rem 1.1rem 0 0;
    border: none;
}