
.logo-container-horizontal
{
    width: 410px;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-vertical
{
    width: 410px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F3F3F3 ;
    gap: 40px;
}

#logo
{
    position: relative;
    margin: 0 15px;
    background-color: #F3F3F3;
}

#hexagon-1 .upper-part
{
    width: 0;
    border-bottom: 4.5rem solid #333258;
    border-left: 7.8rem solid transparent;
    border-right: 7.8rem solid transparent;
}

#hexagon-1 .middle-part
{
    width: 15.6rem;
    height: 9rem;
    background-color: #333258;
}

#hexagon-1 .lower-part
{
    width: 0;
    border-top: 4.5rem solid #333258;
    border-left: 7.8rem solid transparent;
    border-right: 7.8rem solid transparent;
}

#hexagon-2
{
    position: absolute;
    top: 3rem;
    left: 2.5rem;
}


#hexagon-2 .upper-part
{
    width: 0;
    border-bottom: 3rem solid #F3F3F3;
    border-left: 5.19rem solid transparent;
    border-right: 5.19rem  solid transparent;
}

#hexagon-2 .middle-part
{
    width: 10.4rem;
    height: 6rem;
    background-color: #F3F3F3;
}

#hexagon-2 .lower-part
{
    width: 0;
    border-top: 3rem solid #F3F3F3;
    border-left: 5.19rem solid transparent;
    border-right: 5.19rem  solid transparent;
}

#logo-midbar
{
    position: absolute;
    top: 8rem;
    width: 15.6rem;
    height: 2.1rem;
    background-color: #333258;
}

#mid-square
{
    position: absolute;
    top: 6.8rem;
    left: 5.5rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #F3F3F3;
}

#left-logo-midbar
{
    z-index: 2;
    position: absolute;
    top: 7.3rem;
    width: 6rem;
    height: 0.7rem;
    background-color: #F3F3F3;
}

#right-logo-midbar
{
    z-index: 2;
    position: absolute;
    top: 10.1rem;
    left: 10rem;
    width: 6rem;
    height: 0.7rem;
    background-color: #F3F3F3;
}

#logo-text
{
    font-family: 'Comfortaa', cursive;
    font-size: 77px;
    color: #333258;
    letter-spacing: 0.05px;
}