<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../components.css">
    <link rel="icon" type="image/x-icon" href="../../Icons-and-Images/favicon-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <title>Enztron | Home</title>
</head>
<body>

    <nav>
        <div onclick="location.href='/'" class="logo2-container-horizontal">
            <div id="logo2">
                <div id="logo2-hexagon-1">
                    <div class="logo2-upper-part"></div>
                    <div class="logo2-middle-part"></div>
                    <div class="logo2-lower-part"></div>
                </div>
                <div id="logo2-hexagon-2">
                    <div class="logo2-upper-part"></div>
                    <div class="logo2-middle-part"></div>
                    <div class="logo2-lower-part"></div>
                </div>
                <div id="logo2-midbar"></div>
                <div id="logo2-mid-square"></div>
                <div id="left-logo2-midbar"></div>
                <div id="right-logo2-midbar"></div>
            </div>
            <div id="logo2-text">
                Enztron
                <span>v1.0</span>
            </div>
        </div>

        <a href="https://github.com/Naman-Saxena1/Enztron-Component_Library" class="github-link">GitHub</a>
    </nav>
    <hr>

    <div class="doc-container">
        <aside class="side-bar">
            <ul>
                <li id="side-bar-headings">Get Started</li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/introduction.html">> Introduction</a></li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/typography.html">> Typography</a></li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/colors.html">> Colors</a></li>
                
                <li></li>
                <li id="side-bar-headings">Components</li>
                <li class="side-bar-topics"><a href="../Avatar/avatar.html">> Avatar</a></li>
                <li class="side-bar-topics"><a href="../Alert/alert.html">> Alert</a></li>
                <li class="side-bar-topics"><a href="../Badge/badge.html">> Badge</a></li>
                <li class="side-bar-topics"><a href="../Button/button.html">> Button</a></li>
                <li class="side-bar-topics"><a href="../Card/card.html">> Card</a></li>
                <li class="side-bar-topics"><a href="../Image/image.html">> Image</a></li>
                <li class="side-bar-topics"><a href="../Input/input.html">> Input</a></li>
                <li class="side-bar-topics"><a href="../Lists/lists.html">> Lists</a></li>
                <li class="side-bar-topics"><a href="../Navigation/navigation.html">> Navigation</a></li>
                <li class="side-bar-topics"><a href="../Modal/modal.html">> Modal</a></li>
                <li class="side-bar-topics"><a href="../Rating/rating.html">> Rating</a></li>
                <li class="side-bar-topics active-class"><a href="../Toast/toast.html">> Toast</a></li>
                <li class="side-bar-topics"><a href="../Grid/grid.html">> Grid</a></li>
                <li class="side-bar-topics"><a href="../SubMenus/submenus.html">> SubMenus</a></li>
                <li class="side-bar-topics"><a href="../Drawer/drawer.html">> Drawer</a></li>
                <li class="side-bar-topics"><a href="../Slider/slider.html">> Slider</a></li>
            </ul>
        </aside>

        <div class="vertice-line"></div>

        <main>
            <div class="content-container">
                <h1>Toast / Snackbar</h1>
                <p>
                    Toasts / Snackbar are push notifications for the user.
                </p>
                <br>
                <br>
                <br>
                <br>
                <div class="toast-container">
                    <div class="component-snackbar"> 
                        <button class="solid-secondary-btn show-snackbar-btn">Show Snackbar</button>
                        <div class="snackbar">
                            <p>Can't send photo. Retry in 5 seconds.</p>
                            <button class="outline-secondary-btn">RETRY</button>
                            <button class="icon-btn close-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div> 
                    </div>
                </div>

                <div class="example-code intro-code">
                    <pre>
                        <code class="html">
&lt;div class="component-snackbar"&gt; 
    &lt;button class="solid-secondary-btn show-snackbar-btn"&gt;Show Snackbar&lt;/button&gt;
    &lt;div class="snackbar"&gt;
        &lt;p&gt;Can't send photo. Retry in 5 seconds.&lt;/p&gt;
        &lt;button class="outline-secondary-btn"&gt;RETRY&lt;/button&gt;
        &lt;button class="icon-btn close-btn"&gt;&lt;i class="fa fa-times" aria-hidden="true"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;/div&gt; 
&lt;/div&gt;
                        </code>
                    </pre>
                </div>

            </div>
        </main>
    </div>

    <script src="./toast.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>