<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../components.css">
    <link rel="icon" type="image/x-icon" href="../../Icons-and-Images/favicon-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <title>Enztron | Home</title>
</head>
<body>

    <nav>
        <div onclick="location.href='/'" class="logo2-container-horizontal">
            <div id="logo2">
                <div id="logo2-hexagon-1">
                    <div class="logo2-upper-part"></div>
                    <div class="logo2-middle-part"></div>
                    <div class="logo2-lower-part"></div>
                </div>
                <div id="logo2-hexagon-2">
                    <div class="logo2-upper-part"></div>
                    <div class="logo2-middle-part"></div>
                    <div class="logo2-lower-part"></div>
                </div>
                <div id="logo2-midbar"></div>
                <div id="logo2-mid-square"></div>
                <div id="left-logo2-midbar"></div>
                <div id="right-logo2-midbar"></div>
            </div>
            <div id="logo2-text">
                Enztron
                <span>v1.0</span>
            </div>
        </div>

        <a href="https://github.com/Naman-Saxena1/Enztron-Component_Library" class="github-link">GitHub</a>
    </nav>
    <hr>

    <div class="doc-container">
        <aside class="side-bar">
            <ul>
                <li id="side-bar-headings">Get Started</li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/introduction.html">> Introduction</a></li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/typography.html">> Typography</a></li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/colors.html">> Colors</a></li>
                
                <li></li>
                <li id="side-bar-headings">Components</li>
                <li class="side-bar-topics"><a href="../Avatar/avatar.html">> Avatar</a></li>
                <li class="side-bar-topics"><a href="../Alert/alert.html">> Alert</a></li>
                <li class="side-bar-topics"><a href="../Badge/badge.html">> Badge</a></li>
                <li class="side-bar-topics"><a href="../Button/button.html">> Button</a></li>
                <li class="side-bar-topics"><a href="../Card/card.html">> Card</a></li>
                <li class="side-bar-topics"><a href="../Image/image.html">> Image</a></li>
                <li class="side-bar-topics"><a href="../Input/input.html">> Input</a></li>
                <li class="side-bar-topics active-class"><a href="../Lists/lists.html">> Lists</a></li>
                <li class="side-bar-topics"><a href="../Navigation/navigation.html">> Navigation</a></li>
                <li class="side-bar-topics"><a href="../Modal/modal.html">> Modal</a></li>
                <li class="side-bar-topics"><a href="../Rating/rating.html">> Rating</a></li>
                <li class="side-bar-topics"><a href="../Toast/toast.html">> Toast</a></li>
                <li class="side-bar-topics"><a href="../Grid/grid.html">> Grid</a></li>
                <li class="side-bar-topics"><a href="../SubMenus/submenus.html">> SubMenus</a></li>
                <li class="side-bar-topics"><a href="../Drawer/drawer.html">> Drawer</a></li>
                <li class="side-bar-topics"><a href="../Slider/slider.html">> Slider</a></li>
            </ul>
        </aside>

        <div class="vertice-line"></div>

        <main>
            <div class="content-container">
                <h1>Lists</h1>
                <p>
                    Lists are used to display continous group of content/information.
                </p>
                <br>
                <br>
                <br>
                <br>
                <h2>Spaced Lists (Eg. Spaced posts News feed on Social Media)</h2>
                <div class="list-container">
                    <ul class="spaced-ul">
                        
                        <li>
                            <div class="spaced-post">
                                <div class="post-header">
                                    <div class="post-header-left-container">
                                        <div class="avatar avatar-x-small">
                                            <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                                            <span class="status-badge-x status-online"></span>
                                        </div>
                                        <h2>Alexa</h2>
                                    </div>
                                    <button class="icon-btn"><i class="fa fa-ellipsis-h fa-x" aria-hidden="true"></i></button>
                                </div>
                                <hr>
                                <p class="post-caption">
                                    Hey ! Found this new aesthetic cafe around the corner! 
                                </p>
                                <div class="post-img-container">
                                    <img class="post-img" src="../../Icons-and-Images/List-Images/clifford-VobvKmG-StA-unsplash.jpg" alt="cafe-image"/>
                                </div>
                                <div class="post-stats">
                                    <div class="post-stats-left-container">
                                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                        <p class="number-of-likes">250</p>
                                    </div>
                                    <div class="post-stats-right-container">
                                        <p>73 comments</p>
                                        <p>80 shares</p>
                                    </div>
                                </div>
                                <div class="post-options">
                                    <button class="outline-primary-btn post-like-button">Like</button>
                                    <button class="outline-primary-btn">Comment</button>
                                    <button class="outline-primary-btn">Share</button>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="spaced-post">
                                <div class="post-header">
                                    <div class="post-header-left-container">
                                        <div class="avatar avatar-x-small">
                                            <img class="avatar-img" src="../../Icons-and-Images/Avatars/pexels-burst-374044.jpg" alt="avatar"/>
                                            <span class="status-badge-x status-online"></span>
                                        </div>
                                        <h2>Max</h2>
                                    </div>
                                    <button class="icon-btn"><i class="fa fa-ellipsis-h fa-x" aria-hidden="true"></i></button>
                                </div>
                                <hr>
                                <p class="post-caption">
                                    View from my latest hike.  
                                </p>
                                <div class="post-img-container">
                                    <img class="post-img" src="../../Icons-and-Images/List-Images/joshua-earle-kpAXYoXSeuY-unsplash.jpg" alt="man-on-mountain-image"/>
                                </div>
                                <div class="post-stats">
                                    <div class="post-stats-left-container">
                                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                        <p class="number-of-likes">326</p>
                                    </div>
                                    <div class="post-stats-right-container">
                                        <p>30 comments</p>
                                        <p>68 shares</p>
                                    </div>
                                </div>
                                <div class="post-options">
                                    <button class="outline-primary-btn post-like-button">Like</button>
                                    <button class="outline-primary-btn">Comment</button>
                                    <button class="outline-primary-btn">Share</button>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="spaced-post">
                                <div class="post-header">
                                    <div class="post-header-left-container">
                                        <div class="avatar avatar-x-small">
                                            <img class="avatar-img" src="../../Icons-and-Images/Avatars/pexels-andrea-piacquadio-3978586.jpg" alt="avatar"/>
                                            <span class="status-badge-x status-online"></span>
                                        </div>
                                        <h2>Jane</h2>
                                    </div>
                                    <button class="icon-btn"><i class="fa fa-ellipsis-h fa-x" aria-hidden="true"></i></button>
                                </div>
                                <hr>
                                <p class="post-caption">
                                    My new setup!
                                </p>
                                <div class="post-img-container">
                                    <img class="post-img" src="../../Icons-and-Images/List-Images/max-andrey-qdhjaVAOhbY-unsplash.jpg" alt="desktop-setup-image"/>
                                </div> 
                                <div class="post-stats">
                                    <div class="post-stats-left-container">
                                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                        <p class="number-of-likes">750</p>
                                    </div>
                                    <div class="post-stats-right-container">
                                        <p>85 comments</p>
                                        <p>40 shares</p>
                                    </div>
                                </div>
                                <div class="post-options">
                                    <button class="outline-primary-btn post-like-button">Like</button>
                                    <button class="outline-primary-btn">Comment</button>
                                    <button class="outline-primary-btn">Share</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <br>

                <div class="example-code intro-code">
                    <pre>
                        <code class="html">
&lt;ul class="spaced-ul"&gt;           
    &lt;li&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                </div>
                <p>
                    <b>Note :</b>
                    You can add your own custom components in list item li tag to get this spaced effect.
                </p>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2>Stacked Lists (Eg. List of Active Contacts on Social Media Site)</h2>
                <div class="list-container">
                    <ul class="stacked-ul">
                        <li>
                            <div>
                                <h3>Active Connections</h3>
                            </div>
                        </li>
                        <li>
                            <div class="active-connections">
                                <div class="active-connections-header-container">
                                    <div class="avatar avatar-small">
                                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                                        <span class="status-badge-2x status-online"></span>
                                    </div>
                                    <h2>Alexa</h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="active-connections">
                                <div class="active-connections-header-container">
                                    <div class="avatar avatar-small">
                                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/pexels-burst-374044.jpg" alt="avatar"/>
                                        <span class="status-badge-2x status-online"><b>2 h</b></span>
                                    </div>
                                    <h2>Max</h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="active-connections">
                                <div class="active-connections-header-container">
                                    <div class="avatar avatar-small">
                                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/pexels-andrea-piacquadio-3978586.jpg" alt="avatar"/>
                                        <span class="status-badge-2x status-online"></span>
                                    </div>
                                    <h2>Jane</h2>
                                </div>                              
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <br>

                <div class="example-code intro-code">
                    <pre>
                        <code class="html">
&lt;ul class="stacked-ul"&gt;           
    &lt;li&gt;&lt;/li&gt;          
    &lt;li&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                </div>
                <p>
                    <b>Note :</b>
                    You can add your own custom components in list item li tag to get this stacked effect.
                </p>

                <br>
                <br>
                <br>
                <br>

            </div>
        </main>
    </div>

    <script src="./lists.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>