<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../components.css">
    <link rel="icon" type="image/x-icon" href="../../Icons-and-Images/favicon-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <title>Enztron | Home</title>
</head>
<body>

    <nav>
        <div onclick="location.href='/'" class="logo2-container-horizontal">
            <div id="logo2">
                <div id="logo2-hexagon-1">
                    <div class="logo2-upper-part"></div>
                    <div class="logo2-middle-part"></div>
                    <div class="logo2-lower-part"></div>
                </div>
                <div id="logo2-hexagon-2">
                    <div class="logo2-upper-part"></div>
                    <div class="logo2-middle-part"></div>
                    <div class="logo2-lower-part"></div>
                </div>
                <div id="logo2-midbar"></div>
                <div id="logo2-mid-square"></div>
                <div id="left-logo2-midbar"></div>
                <div id="right-logo2-midbar"></div>
            </div>
            <div id="logo2-text">
                Enztron
                <span>v1.0</span>
            </div>
        </div>

        <a href="https://github.com/Naman-Saxena1/Enztron-Component_Library" class="github-link">GitHub</a>
    </nav>
    <hr>

    <div class="doc-container">
        <aside class="side-bar">
            <ul>
                <li id="side-bar-headings">Get Started</li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/introduction.html">> Introduction</a></li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/typography.html">> Typography</a></li>
                <li class="side-bar-topics"><a href="../../Docs-Pages/colors.html">> Colors</a></li>
                
                <li></li>
                <li id="side-bar-headings">Components</li>
                <li class="side-bar-topics"><a href="../Avatar/avatar.html">> Avatar</a></li>
                <li class="side-bar-topics"><a href="../Alert/alert.html">> Alert</a></li>
                <li class="side-bar-topics active-class"><a href="../Badge/badge.html">> Badge</a></li>
                <li class="side-bar-topics"><a href="../Button/button.html">> Button</a></li>
                <li class="side-bar-topics"><a href="../Card/card.html">> Card</a></li>
                <li class="side-bar-topics"><a href="../Image/image.html">> Image</a></li>
                <li class="side-bar-topics"><a href="../Input/input.html">> Input</a></li>
                <li class="side-bar-topics"><a href="../Lists/lists.html">> Lists</a></li>
                <li class="side-bar-topics"><a href="../Navigation/navigation.html">> Navigation</a></li>
                <li class="side-bar-topics"><a href="../Modal/modal.html">> Modal</a></li>
                <li class="side-bar-topics"><a href="../Rating/rating.html">> Rating</a></li>
                <li class="side-bar-topics"><a href="../Toast/toast.html">> Toast</a></li>
                <li class="side-bar-topics"><a href="../Grid/grid.html">> Grid</a></li>
                <li class="side-bar-topics"><a href="../SubMenus/submenus.html">> SubMenus</a></li>
                <li class="side-bar-topics"><a href="../Drawer/drawer.html">> Drawer</a></li>
                <li class="side-bar-topics"><a href="../Slider/slider.html">> Slider</a></li>
            </ul>
        </aside>

        <div class="vertice-line"></div>

        <main>
            <div class="content-container">
                <h1>Badge</h1>
                <p>
                    Badges are used to show extra information to user like 
                    online/offline status, number of unread notifications, number of items in a cart , etc.
                </p>
                <br>
                <br>
                <br>
                <br>
                <h2>Number Count Badges</h2>
                <div class="icon-badge-container">
                    <div class="icon-count-badge">
                        <i class="fa fa-shopping-cart fa-5x" aria-hidden="true" ></i>
                        <span class="count-badge-5x">5</span>
                    </div>
                    <div class="icon-count-badge">
                        <i class="fa fa-bell fa-4x" aria-hidden="true" ></i>
                        <span class="count-badge-4x">4</span>
                    </div>
                    <div class="icon-count-badge">
                        <i class="fa fa-envelope-o fa-3x" aria-hidden="true" ></i>
                        <span class="count-badge-3x">3</span>
                    </div>
                    <div class="icon-count-badge">
                        <i class="fa fa-comments fa-2x" aria-hidden="true" ></i>
                        <span class="count-badge-2x">2</span>
                    </div>
                    <div class="icon-count-badge">
                        <i class="fa fa-shopping-cart fa-x" aria-hidden="true" ></i>
                        <span class="count-badge-x">5</span>
                    </div>
                </div>
                <br>
                <br>

                <div class="example-code intro-code">
                    <pre>
                        <code class="html">
&lt;div class="icon-count-badge"&gt;
    &lt;i class="fa fa-shopping-cart fa-5x" aria-hidden="true" &gt;&lt;/i&gt;
    &lt;span class="count-badge-5x"&gt;5&lt;/span&gt;
&lt;/div&gt;

&lt;div class="icon-count-badge"&gt;
    &lt;i class="fa fa-bell fa-4x" aria-hidden="true" &gt;&lt;/i&gt;
    &lt;span class="count-badge-4x"&gt;4&lt;/span&gt;
&lt;/div&gt;

&lt;div class="icon-count-badge"&gt;
    &lt;i class="fa fa-envelope-o fa-3x" aria-hidden="true" &gt;&lt;/i&gt;
    &lt;span class="count-badge-3x"&gt;3&lt;/span&gt;
&lt;/div&gt;

&lt;div class="icon-count-badge"&gt;
    &lt;i class="fa fa-comments fa-2x" aria-hidden="true" &gt;&lt;/i&gt;
    &lt;span class="count-badge-2x"&gt;2&lt;/span&gt;
&lt;/div&gt;

&lt;div class="icon-count-badge"&gt;
    &lt;i class="fa fa-shopping-cart fa-x" aria-hidden="true" &gt;&lt;/i&gt;
    &lt;span class="count-badge-x"&gt;5&lt;/span&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <h2 class="note-heading">Note :</h2> 
                <p class="note">
                    1) Make sure to use 2 classes for proper results - <br>
                        &nbsp;&nbsp;&nbsp;<b>icon-count-badge</b> on container div and <b>count-badge-5x</b> (or any other badge size) on badge span<br><br>
                    2) Make sure to use badge size class that matches Font Awesome icon size <br>
                        &nbsp;&nbsp;&nbsp; <b>Example</b> - count-badge-2x with fa-2x
                </p>
                <br>
                <br>
                <h2>Profile Status Badges</h2>
                <div class="icon-badge-container">
                    <div class="avatar avatar-x-large">
                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                        <span class="status-badge-5x status-online"></span>
                    </div>
                    <div class="avatar avatar-large">
                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                        <span class="status-badge-4x status-offline"></span>
                    </div>
                    <div class="avatar avatar-regular">
                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                        <span class="status-badge-3x status-busy"></span>
                    </div>
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                        <span class="status-badge-2x status-away"></span>
                    </div>
                    <div class="avatar avatar-x-small">
                        <img class="avatar-img" src="../../Icons-and-Images/Avatars/1920x1280-image-avatar.jpg" alt="avatar"/>
                        <span class="status-badge-x status-away"></span>
                    </div>
                </div>
                <br>
                <br>

                <div class="example-code intro-code">
                    <pre>
                        <code class="html">
&lt;div class="avatar avatar-x-large"&gt;
    &lt;img class="avatar-img" src="..." alt="avatar"/&gt;
    &lt;span class="status-badge-5x status-online"&gt;&lt;/span&gt;
&lt;/div&gt;

&lt;div class="avatar avatar-large"&gt;
    &lt;img class="avatar-img" src="..." alt="avatar"/&gt;
    &lt;span class="status-badge-4x status-offline"&gt;&lt;/span&gt;
&lt;/div&gt;

&lt;div class="avatar avatar-regular"&gt;
    &lt;img class="avatar-img" src="..." alt="avatar"/&gt;
    &lt;span class="status-badge-3x status-busy"&gt;&lt;/span&gt;
&lt;/div&gt;

&lt;div class="avatar avatar-small"&gt;
    &lt;img class="avatar-img" src="..." alt="avatar"/&gt;
    &lt;span class="status-badge-2x status-away"&gt;&lt;/span&gt;
&lt;/div&gt;

&lt;div class="avatar avatar-x-small"&gt;
    &lt;img class="avatar-img" src="..." alt="avatar"/&gt;
    &lt;span class="status-badge-x status-away"&gt;&lt;/span&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <h2 class="note-heading">Note :</h2> 
                <p class="note">
                    Make sure to use 2 classes for proper results - <br>
                        &nbsp;&nbsp;&nbsp; 1) <b>status-badge-3x (or of any other size according to profile size)</b> on status span <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There are <b>5 sizes</b> of status class - <b>status-badge-5x</b>, <b>status-badge-4x</b>,
                        <b>status-badge-3x</b>, <b>status-badge-2x</b> and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>status-badge-x</b> <br> <br>

                        &nbsp;&nbsp;&nbsp; 2) <b>status-online (or any other status type)</b> <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There are <b>4 types</b> of status class - <b>status-online</b>, <b>status-offline</b>,
                        <b>status-busy</b> and <b>status-away</b>
                </p>
            
                <br>
                <br>

            </div>
        </main>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>