.alert-container
{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #F5F7F9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.6rem;
    gap: 1.6rem;
}

.alert
{
    width: 100%;
    background-color: var(--dark-blue-color);
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.alert-primary
{
    color: var(--background-color);
    background-color: var(--dark-blue-color);
}

.alert-secondary
{
    color: var(--background-color);
    background-color: var(--pink-color);
}

.alert-error
{
    color: var(--background-color);
    background-color: var(--notification-or-error);
}

.alert-success
{
    color: var(--background-color);
    background-color: var(--onlinestatus-or-success);
}

.alert-warning
{
    color: var(--background-color);
    background-color: var(--awaystatus-or-warning);
}

.alert-button
{
    height: fit-content;
}